@import url(font/stylesheet.css);
* {
  margin: 0; }

html {
  box-sizing: border-box;
  height: 100%; }

body {
  font-family: "TT Lakes", Arial, Helvetica, sans-serif;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column; }

.menu {
  background-color: #fff;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  line-height: 0px; }
  .menu .menu__line--visible {
    display: none; }
  .menu .menu__line {
    margin-left: auto; }
  .menu .menu__li-icon {
    margin: 0 16px; }
  .menu .menu__li-icon + .menu__li-icon {
    margin-left: 0; }
  .menu .menu__li-icon--call,
  .menu .menu__li-icon--chat,
  .menu .menu__li-icon--profile {
    display: none; }
  @media (min-width: 768px) {
    .menu .menu__line--visible {
      display: block; }
    .menu .menu__line {
      margin-left: 0; }
    .menu .menu__li-icon--call {
      margin-left: auto; }
    .menu .menu__li-icon--call,
    .menu .menu__li-icon--chat,
    .menu .menu__li-icon--profile {
      display: block; } }
  @media (min-width: 1120px) {
    .menu {
      display: none; } }

.line {
  width: 2px;
  height: 32px;
  background-color: #eaeaea; }

.a-button--null {
  border: none;
  background-color: transparent;
  padding: 0; }

.a-button__span-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  display: none; }
  @media (min-width: 1120px) {
    .a-button__span-heading {
      display: inline; } }

.a-button__li-icon--repair {
  margin-left: auto; }

.main {
  background-color: #f8f8f8;
  flex: 1 1 auto; }

.heading {
  margin: 0;
  font-size: 28px;
  line-height: 40px;
  color: #1b1c21;
  letter-spacing: -0.6px;
  padding: 24px 16px 16px 16px;
  position: relative; }
  .heading .heading__span-line {
    position: absolute;
    left: 0; }
  .heading .heading__a-button {
    display: none;
    text-decoration: none; }
  @media (min-width: 1120px) {
    .heading {
      display: flex;
      align-items: center;
      padding: 42px 32px 16px 32px; }
    .heading .heading__a-button {
      display: block; }
    .heading .heading__a-button--margin-left {
      margin: 0 16px;
      margin-left: auto; }
    .heading .a-button__img-icon {
      vertical-align: middle; } }

.services-list {
  list-style: none;
  padding: 0;
  padding-left: 16px;
  display: flex;
  overflow-y: auto; }
  .services-list .services-list__li-item {
    padding: 8px 16px; }
  .services-list .services-list__li-item--active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
    background-color: #fff; }
  .services-list .services-list__a-link {
    text-decoration: none;
    color: #7e7e82;
    font-size: 16px;
    letter-spacing: -0.2px;
    white-space: nowrap; }

.content {
  padding: 24px 16px 0 16px; }
  @media (min-width: 768px) {
    .content {
      display: flex;
      gap: 25px; } }

.description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21; }
  .description .description__span--w768,
  .description .description__span--w1120 {
    display: none; }
  .description .description__details {
    padding: 16px 0px 24px 8px; }
  .description .description__img-icon {
    margin-right: 16px; }
  .description .description__text-icon {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21; }
  @media (min-width: 768px) {
    .description {
      width: 50%; }
    .description .description__span--w768 {
      display: inline; } }
  @media (min-width: 1120px) {
    .description .description__span--w1120 {
      display: inline; } }

.description__foto-logo {
  position: absolute;
  left: 0; }
  @media (min-width: 768px) {
    .description__foto-logo {
      position: static; } }

.foto-logo {
  min-width: 320px;
  width: 100%;
  height: auto; }
  @media (min-width: 768px) {
    .foto-logo {
      border-radius: 5px;
      width: 50%; } }

/*# sourceMappingURL=style.css.map */
