@import "fonts.css";

$color-pink: #ff3e79;
$color-briz: #41f6d7;

@mixin flexble($z, $x) {
    display: flex;
    flex-direction: $z;
    gap: $x;
}

*,
h1 {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "TT Lakes", Arial, Helvetica, sans-serif;
    min-width: 320px;
    height: 100%;
}

//////////////////////////////// blocks
@import "link-circle-pink.scss";

@import "communication.scss";

@import "logotype.scss";

@import "heading.scss";

@import "langs.scss";

//////////////////////////////// head
@import "head.scss";

////////////////////////////////  menu-left
@import "menu-left.scss";

/////////////////////////////////// @media
@import "media.scss";
