@import url("fonts.css");
*,
h1 {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  font-family: "TT Lakes", Arial, Helvetica, sans-serif;
  min-width: 320px;
  height: 100%; }

.button {
  border: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.link-circle-pink {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.communication {
  gap: 16px; }
  .communication .communication__link--icon-call {
    background-image: url("../img/call.svg"); }
  .communication .communication__link--icon-chat {
    background-image: url("../img/chat.svg"); }
  .communication .communication__link--icon-profile {
    background-image: url("../img/profile.svg"); }

.logotype {
  line-height: 0;
  position: relative; }

.heading {
  font-size: 28px;
  line-height: 52px;
  color: #1b1c21; }

.menu-nav {
  background-color: #fff;
  padding: 18px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px; }
  .menu-nav .menu-nav__button {
    background-image: url("../img/burger.svg"); }
  .menu-nav .menu-nav__link--icon-repair {
    background-image: url("../img/repair.svg"); }
  .menu-nav .menu-nav__link--icon-checkstatus {
    background-image: url("../img/checkstatus.svg"); }
  .menu-nav .menu-nav__communication {
    display: none;
    margin-left: auto;
    margin-right: 22px; }
  .menu-nav .menu-nav__order {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    position: relative; }
  .menu-nav .menu-nav__order::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 2px;
    height: 32px;
    background-color: #eaeaea; }

.wrapper-popup {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10; }

.menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 320px;
  -webkit-box-shadow: 0px 0 50px 0px silver;
          box-shadow: 0px 0 50px 0px silver;
  min-height: 100vh;
  padding: 18px 16px 32px; }
  .menu-left .menu-left__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-bottom: 9px; }
  .menu-left .menu-left__button {
    background-image: url("../img/iks.svg"); }
  .menu-left .menu-left__link-search {
    margin-left: auto;
    background-image: url("../img/lupa.svg"); }
  .menu-left .menu-left__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%; }
  .menu-left .menu-left__communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 16px;
    margin-left: 0;
    -webkit-box-flex: 6;
        -ms-flex: 6 1 auto;
            flex: 6 1 auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 16px 0 0 0; }
  .menu-left .menu-left__order {
    display: none; }
  .menu-left .menu-left__link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    text-decoration: none;
    position: relative; }
    .menu-left .menu-left__link::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: #41f6d7;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .menu-left .menu-left__link--active {
    color: #7e7e82;
    position: relative; }
    .menu-left .menu-left__link--active::before {
      content: "";
      display: block;
      width: 10px;
      height: 30px;
      border-radius: 5px;
      background-color: #41f6d7;
      position: absolute;
      top: -3px;
      left: -22px;
      -webkit-transition: 0s;
      transition: 0s; }
  .menu-left .menu-left__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px; }
  .menu-left .menu-left__mail {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    text-decoration: none; }
  .menu-left .menu-left__tel {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    text-decoration: none; }
  .menu-left .menu-left__list-langs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 7px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .menu-left .menu-left__lang {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    text-decoration: none; }
  .menu-left .menu-left__lang--active {
    color: #7e7e82; }

.main {
  background-color: #f8f8f8;
  position: relative; }

.heading-wrapper {
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 102px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .heading-wrapper::before {
    content: "";
    display: block;
    width: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: #41f6d7;
    position: absolute;
    left: -5px; }

.mini-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mini-nav__link {
  display: none;
  width: 175px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  line-height: 40px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1b1c21; }

.mini-nav__link::after {
  content: "";
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.mini-nav__link--icon-repair::after {
  background-image: url("../img/repair.svg"); }

.mini-nav__link--icon-checkstatus::after {
  background-image: url("../img/checkstatus.svg"); }

.service-nav .service-nav__list {
  list-style: none;
  padding: 0;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto; }
.service-nav .service-nav__item {
  padding: 0;
  margin: 0; }
.service-nav .service-nav__link--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #fff; }
.service-nav .service-nav__link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #7e7e82;
  font-size: 16px;
  letter-spacing: -0.2px;
  white-space: nowrap;
  position: relative; }
.service-nav .service-nav__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #41f6d7;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.content .content__description {
  padding: 24px 16px 0px 16px; }
.content .content__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  display: block;
  height: 90px;
  overflow-y: hidden; }
.content .content__next-text {
  display: inline-block;
  margin: 16px 32px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  position: relative; }
  .content .content__next-text::before {
    content: ">>";
    display: block;
    position: absolute;
    top: 0;
    left: -16px;
    -webkit-transform: rotate(90deg) scaleX(0.5) translate(50%, 0);
            transform: rotate(90deg) scaleX(0.5) translate(50%, 0);
    font-size: 1.3em;
    width: 10px;
    height: 10px;
    color: #41f6d7;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
.content .content__foto {
  min-width: 320px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px; }

@media (min-width: 768px) {
  .menu-nav {
    padding: 18px 24px; }

  .menu-left {
    padding: 18px 24px 32px; }

  .menu-nav .menu-nav__communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .menu-nav .menu-nav__order {
    margin-left: 0; }

  .logotype {
    margin-left: 26px; }

  .logotype::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 2px;
    height: 32px;
    background-color: #eaeaea; }

  .menu-left__logotype {
    margin-left: 0px; }

  .menu-left__logotype::before {
    content: "";
    display: none; }

  .menu-left .menu-left__link--active::before {
    left: -30px; }

  .main {
    padding: 0 24px; }

  .heading-wrapper {
    padding: 24px 0 32px 0; }

  .service-nav .service-nav__list {
    padding: 0;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 25px;
    padding: 24px 0px 40px 0px; }

  .content .content__description {
    width: 45%;
    padding: 0; }

  .content .content__text {
    padding: 0px;
    height: 160px; }

  .content .content__foto {
    position: static;
    width: 55%; } }
@media (min-width: 1120px) {
  .menu-nav {
    display: none; }

  .menu-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .heading-wrapper {
    padding: 18px 0 32px 0; }

  .mini-nav .mini-nav__link,
  .mini-nav .mini-nav__text-link {
    display: block; }

  .content .content__next-text {
    margin: 0 32px; } }
.link-circle-pink:hover,
.mini-nav__link:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.service-nav__link:not(.service-nav__link--active):hover::before {
  width: calc(100% - 32px); }

.menu-left__link:not(.menu-left__link--active):hover::before {
  width: 100%; }

.menu-left__lang:not(.menu-left__lang--active):hover {
  font-weight: 800; }

.content__next-text:hover::before {
  -webkit-transform: scale(1) translate(-20px, -2px);
          transform: scale(1) translate(-20px, -2px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: -10px;
  color: #ff3e79; }

/*# sourceMappingURL=style.css.map */